body{
    margin-top: 50px;
    font-size: 18px;
    font-family: 'Abel', sans-serif;
    background-color: #D0D0D0;
}

.navbar-default{
    background-color: rgb(151,4,4);
}

.navbar-brand{
    font-family: 'Bangers', 'Abel', sans-serif;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
    color: white;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover{
    background-color: rgb(151,4,4);
}

.dropdown-menu > li > a,
.dropdown-menu > li > a:hover{
    color: rgb(151,4,4);
    font-size: 20px;
}

.footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(151,4,4);
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

.footer a{
    color: white;
}

.footer a:hover, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.welcome{
    color: rgb(151,4,4);
    font-size: 50px;
    padding: 25px;
    
}

.name-asso{
    font-family: 'Bangers', 'Abel', sans-serif;
}

.logo{
    position: absolute;
    height: 100%;
    top: 0;
}

.content{
    background-color: white;
    box-shadow: 0px 0px 15px #505050;
}

.carousel-inner{
    max-height: 600px;
}

.title{
    font-size: 40px;
    font-weight: bold;
    color: #808080;
}

.presentation{
    margin-top: 10px;
    padding: 30px;
}

.page-title{
    font-size: 30px;
    margin-top: 20px;
}

.btn-line{
    margin: 10px;
}

.input-group{
    width: 100%;
    padding-bottom: 20px;
}

.addon-fixed-size{
    width: 120px;
}

.form{
    padding: 20px;
}

.date{
    color: #A0A0A0;
    font-size: 16px;
}

.article{
    padding: 20px;
    text-align: justify;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(141,4,4);
}

.article img{
    border: 2px solid white;
    box-shadow: 0px 0px 5px #515151;
    max-width: 100%;
}

.msg-flash-container{
    position: absolute;
    z-index: 500;
    text-align: center;
    width: 100%;
    padding-top: 5px;
}

.msg-flash{
    box-shadow: 0px 0px 3px #515151;
}

.info{
    position: relative;
    bottom: 20px;
    color: #909090;
}